<div class="employee-list-container">
  <h2>Lista de Funcionários</h2>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <button routerLink="/admin/employees/add">Adicionar Funcionário</button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.nome }}</td>
        <td>{{ employee.sobrenome }}</td>
        <td>{{ employee.email }}</td>
        <td>
          <button [routerLink]="['/admin/employees/edit', employee.id]">Editar</button>
          <button (click)="deleteEmployee(employee.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>